* text eol=lf

src/*.json linguist-generated -diff
src/parser.c linguist-generated -diff
src/tree_sitter/* linguist-generated -diff

bindings/** linguist-generated
binding.gyp linguist-generated
setup.py linguist-generated
Makefile linguist-generated
Package.swift linguist-generated